<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{msg}}
 <form method="POST">
    <tabel>
        {% if form %}
        <thead>
            <th>ename</th>
            <th>eno</th>
            <th>eid</th>
            <th>email</th>
        </thead>
        <fo
    </tabel>
 </form>
    
    
 </form>
</body>
</html>
